<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="luggage_joint">
            <command_interface name="position">
                <param name="min">0</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
    
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find factory_amr_description)/config/controller_factory_amr2.yaml</parameters>
        </plugin>
        <plugin name="amr2_diff_drive" filename="libgazebo_ros_diff_drive.so">
            <robotNamespace>factory_amr2</robotNamespace>
            <robotParam>factory_amr2/robot_description</robotParam>
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.62</wheel_separation>
            <wheel_diameter>1.0</wheel_diameter>

            <max_wheel_torque>300</max_wheel_torque>
            <max_wheel_acceleration>30.0</max_wheel_acceleration>

            <odometry_frame>factory_amr2/odom</odometry_frame>
            <robot_base_frame>factory_amr2/base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
        </plugin>
    </gazebo>
</robot>