<?xml version="1.0" ?>
<robot name="factory_amr2" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="robot_namespace" default="factory_amr2"/>
    <xacro:include filename="factory_amr2.xacro"/>

    <xacro:include filename="gazebo_control2.xacro"/>

    <!-- <xacro:include filename="lidar.xacro"/> -->

</robot>
